<h2><%= @room.address %></h2>
<h4><%= @room.type.name %></h4>
<h4><%= @room.price %></h3>
<p><%= @room.description %></p>
<h4><%= @room.contact_info %></h4>

<% if user_signed_in? %>
  <% if current_user.id == @room.user_id %>
    <%= link_to "Edit", edit_room_path(@room) %>
    <%= link_to "Delete", room_path(@room), method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
<% end %>
